{% extends "base.html" %}

{% block title %}Login | URL Shortner{% endblock title %}

{% block loginactive %}active{% endblock loginactive %}
<head>
    <script type='text/javascript' src='//pl25479109.profitablecpmrate.com/73/79/28/737928097eea1e2c6f3807a01214239d.js'></script>
  </head>
{% block content %}
<div class="mt-4">
    <div class="card container shadow text-center col-md-4">
        <h1 class="pt-2">Login | URL Shortner</h1>
        <hr>
        {{data}}
        <form action="" method="POST" class="px-3">
            {% csrf_token %}
            <input type="text" class="form-control my-3 " name="username" placeholder="UserName" value="{{username}}">
            <input type="password" class="form-control my-3 "name="password" placeholder="Password">
            {% load socialaccount %}
            <div class="text-left">
                <a class="text-decoration-none" href="{% provider_login_url 'google' %}?next=/">Google Login</a> 
                <br>
            </div>
            {% providers_media_js %}
            <div class="text-left">
                <a class="text-decoration-none" href="{% provider_login_url "facebook" %}">Facebook Connect</a> 
                <br>
            </div>
            <div class="text-left">
                <a class="text-decoration-none" href="{% provider_login_url "github" %}">Github Connect</a> 
                <br>
            </div>

            <input type="submit" class="btn-lg btn-outline-primary my-3 ">
        </form>
    </div>
</div>
{% endblock content %}