{% extends "base.html" %}
{% block title %}Register | URL Shortner{% endblock title %}
{% block registeractive %}active{% endblock registeractive %}

<head>
    <!-- google adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9404486876529944"
     crossorigin="anonymous"></script>
     <!-- google adsense -->
    <!-- Popunder -->
    <script type='text/javascript'
        src='//forwardfishermanbidding.com/b4/27/56/b42756ef52174ef8b5f967bbee7d9dd2.js'></script>
    <!-- Popunder -->
</head>
{% block content %}
<div class="mt-4">
    <div class="card container shadow text-center col-md-4">
        <h1 class="pt-2">Register | URL Shortner</h1>
        <hr>
        <form action="" method="POST" class="px-3">
            {% csrf_token %}
            <input type="text" class="form-control my-3 " name="username" placeholder="UserName" value="{{username}}"
                reqired />
            <input type="email" class="form-control my-3 " name="email" placeholder="Email" value="{{email}}" reqired />
            <input type="password" class="form-control my-3 " name="password" placeholder="Password" reqired />
            <div class="text-left">
                <br>
            </div>
            <input type="submit" class="btn-lg btn-outline-primary my-3 ">
        </form>
    </div>
</div>
<!-- banner -->
<script type="text/javascript">
    atOptions = {
        'key': 'c8ebb775ec1bc99f5c65ec8040414ed6',
        'format': 'iframe',
        'height': 90,
        'width': 728,
        'params': {}
    };
</script>
<script type="text/javascript" src="//forwardfishermanbidding.com/c8ebb775ec1bc99f5c65ec8040414ed6/invoke.js"></script>
<!-- banner -->
<!-- social bar -->
<script type='text/javascript'
    src='//pl25479109.profitablecpmrate.com/73/79/28/737928097eea1e2c6f3807a01214239d.js'></script>
<!-- social bar -->
{% endblock content %}